<div class="order">
  <div class="row">
    <div class="col-xs-4">
      <section class="menu">
        <input type="checkbox" ng-false-value="'NO'" ng-true-value="'Margarita'" ng-model="order.pizzas.checked" />Margarita
        <div class="col-xs-8">
          <ul>
            <li ng-repeat="pizza in order.pizzas | PizzaFilter">
              {{ pizza.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <section class="order-form">
        <div ui-view="order-form"></div>
      </section>
    </div>
</div>
